.diamond {
  width: 60px;
  height: 60px;
  transform: rotate(-45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.diamond img {
  transform: rotate(-45deg);
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
